<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57185542814-o9acce1m6iqdek94lserud2n6d9jpcs4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57185542814-o9acce1m6iqdek94lserud2n6d9jpcs4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>57185542814-qrgdm0m8m572kfjsrgh6gvp676potsgb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCg7My0JHNtmNadcmGNyK-5VZXq3l9P1hs</string>
	<key>GCM_SENDER_ID</key>
	<string>57185542814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thinking.earth.sinkingUs</string>
	<key>PROJECT_ID</key>
	<string>sinkingus</string>
	<key>STORAGE_BUCKET</key>
	<string>sinkingus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57185542814:ios:ac8d453a60594aa5a6118f</string>
	<key>DATABASE_URL</key>
	<string>https://sinkingus-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>